# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Redis outputs.
dump.rdb

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Vim swp files
*.swp

# Dependency directories (remove the comment below to include it)
# vendor/

# Node modules
*node_modules*

# React build dir.
server/client/build*

connectors/prod*
